!!! 5
html(lang="es")
    head
        title Index of
        meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
        link(href='css/uno.css', rel='stylesheet')
    body.uno.l-public
        include sections/main/000
