footer
    section
        .m-legal.copy
            p.sura Copyright © 2014 
                strong Uno
                |  Todos los derechos reservados. 
            p.seven4n
                |  Powered by 
                a(href='http://s4n.co') Seven4n