header
    section
        .m-brand
            h1
                a(href='../index.html') 
                    img(src="images/logo-brand.png")
                    strong  Template
        .m-sidemenu
            a.toggle.js-navbar(href='#')
                i.fa.fa-bars