main
    section
        h1.heading.primary / development / webapp /
        .scrollable
            table.table.primary.horizontal
                thead
                    tr
                        th.tleft Índice
                        th.tleft Página
                        th.tleft Notas
                tbody
                  tr
                      td.tleft 100
                      td.tleft
                          a(href='html/inicio.html') inicio.html
                      td.tleft
                  tr
            div
                h2 Por hacer
                ul.disc
                    li
